<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../bootstrap/css/font-awesome-5.8.1.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap/css/mdb.css">
    <link rel="stylesheet" href="../bootstrap/css/style.css">
    <link rel="stylesheet" href="../style.css">
    <title>YPS</title>
</head>
<body>
    
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="../index.html">Yeleswaram public School</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-5">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACTUS</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" id="form">
                <a href="https://www.facebook.com/sree.palivela"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href=""><i class="fab fa-instagram fa-lg"></i></a>
                <a href=""><i class="fab fa-whatsapp fa-lg"></i></a>
                <a href=""><i class="fab fa-twitter fa-lg"></i></a>
            </form>
        </div>
    </nav>

     <!-- Sports -->

     <div class="mt-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <img src="../img/sports1.jpg" alt="" width="250" height="150">
                </div>
                <div class="col-md-8">
                    <h2>Sports</h2>
                        <ul>
                            <li>To produce Global citizens by shaping them as leaders</li>
                            <li>Motivating the students to understand the recent developments in the fields of Science
                                and Technology through Seminars, Work shops and Group Discussions etc.</li>
                            <li>Imbibing good Communication skills and Life Skills to get Special identity.</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h2>Sports</h2>
                        <ul>
                            <li>To produce Global citizens by shaping them as leaders</li>
                            <li>Motivating the students to understand the recent developments in the fields of Science
                                and Technology through Seminars, Work shops and Group Discussions etc.</li>
                            <li>Imbibing good Communication skills and Life Skills to get Special identity.</li>
                        </ul>
                </div>
                <div class="col-lg-4 col-md-12">
                    <img src="../img/sports2.jpg" alt="" width="250" height="150">
                </div>
            </div>
        </div>
    </div>

    <div class="my-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <img src="../img/sports3.jpg" alt="" width="250" height="150">
                </div>
                <div class="col-md-8">
                    <h2>Sports</h2>
                        <ul>
                            <li>To produce Global citizens by shaping them as leaders</li>
                            <li>Motivating the students to understand the recent developments in the fields of Science
                                and Technology through Seminars, Work shops and Group Discussions etc.</li>
                            <li>Imbibing good Communication skills and Life Skills to get Special identity.</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>

      <!-- Facilities -->

      <div class="facilities mt-2" id="facilities">
        <div class="container mt-3">
            <h2 class="text-primary text-center">Facilities</h2>
            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item text-center text-white">
                    <a class="nav-link"  href="hostel.html" role="tab">
                        <i class="fab fa-fort-awesome"></i><span class="hidden-xs"><br />Hostel</span>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link"  href="transport.html" role="tab">
                        <i class="fas fa-bus"></i><span class="hidden-xs"><br />Transport</span>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link"  href="academic.html" role="tab">
                        <i class="fas fa-graduation-cap"></i><span class="hidden-xs"><br />Academic</span>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link"  href="laboratories.html" role="tab">
                        <i class="fas fa-flask"></i><span class="hidden-xs"><br />Library</span>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link"  href="sports.html" role="tab">
                        <i class="fas fa-table-tennis"></i><span class="hidden-xs"><br />Sports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Contact Us -->

    <div id="contact">
        <div class="mt-2 text-white">
            <img src="img/whatsup-logo.png" alt="">
            <h3>Conncet With our administration on Whatsapp</h3>
            <h3>&Get Your Queries Resolved</h3>
            <span>
                <h2>8897942269</h2>
            </span>
        </div>
    </div>

    <!-- Footer -->

    <div class="footer py-3 mt-2">
        <div>
            <h3 class="text-white">Copyright &copy; 2020 ramireddy.palivela@gmail.com</h3>
            <p class="text-white">All Rights Reserved</p>
            <small class="text-danger">Developed & Maintained by Ramireddy</small>
        </div>
    </div>

    <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="../bootstrap/js/mdb.js"></script>
    <script src="../app.js"></script>
</body>
</html>